= render 'shared/magic'

.b-actions
  %a.b-actions__button.b-actions__button{href: '#'} Default Button
  %a.b-actions__button.b-actions__button--positive{href: '#'} Positive Button
  %a.b-actions__button.b-actions__button--negative{href: '#'} Negative Button
